:root {
  --primary-color: hsl(47, 88%, 63%);

  --color-white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);

  --base-font-size: 16px;
  --base-font-family: 'Figtree', sans-serif;
}

@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--base-font-family);
  font-size: 1rem;

  background-color: var(--primary-color);
}
